# Azure
subscription_id = ""
client_id = ""
client_secret = ""
tenant_id = ""

# VM
vmresourcename = ""
location = "japaneast"
vmname = ""
vmsize = "Standard_D2s_v3"
vmadminusername = "vmadminname"
vmadminpassword = ""

# MySQL
mysqlname = ""
mysqladministrator_login = "mysqladmin"
mysqladministrator_login_password = ""
